.duo {
    inline-size: 79.0625rem;
    block-size: 8.3125rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray a {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6875rem;
    color: var(--gray40);
    text-decoration: none;
    padding-right: 4rem;
}

.gray a:hover {
    text-decoration: underline;
}

.blue a {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    background-color: transparent;
    border: none;
    border-radius: .3rem;
    color: #fff;
    text-decoration: none;
    padding: 0.25rem 2.10rem;
    margin-right: 1.56rem;
    white-space: nowrap;
    background-color: #13b6fb;
    -webkit-box-shadow: 0 0.25rem 0 0 #04a7eb;
    box-shadow: 0 0.25rem 0 0 #04a7eb;
} 